@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables.scss";
@import "./spacing.scss";
@import "./helper";
@import "./layout";
@import "custom";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

.rotateimg180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.turn {
  animation: turn-spin infinite 5s linear
}

@keyframes turn-spin {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}